#banner{
	background-image: url("https://images5.alphacoders.com/876/thumb-1920-876590.png");
	background-size: cover;
	background-position: bottom center;
	height: 800px;
	width: 100%;	
}
	

#banner .content h1 {
		color: white;
		position: relative;
		top: 300px;
		right: 200px;
		width: 500px;
		margin: 0 auto;
		height: auto;
		text-align: center;
		font-size: 120px;
		font-family: sans-serif;
}

.navigation ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60px;
	background-color: black;
}

.navigation a{
	display: block;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-family: cursive;
	font-size: 20px;
	color: white;
	text-align: center;
}



li a:hover {
	background-color: grey
}


