h1{
	font-size: 15px;
}

p{
	font-size: 20px;
}


#banner{
	background-image: url("https://images.alphacoders.com/876/thumb-1920-876589.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	height: 700px;
	width: 100%;
}
	

#banner .content h1 {
		font-size: 20px;
}