h1{
	font-size: 15px;
}

p{
	font-size: 12px;
}


#banner{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
}
	
	
	